@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
/* Сброс стандартных стилей */
body, h1, h2, h3, h4, h5, h6, p, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* Замените на выбранный вами шрифт */
    font-size: 16px; /* Размер базового шрифта */
    line-height: 1.6; /* Межстрочное расстояние */
}

ul {
    list-style: none;
}

/* Добавим стили для хедера и футера, чтобы они были видны на странице */
header, footer {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Стили для основных разделов */
#about-me, #services, #testimonials, #contact {
    padding: 40px;
}

/* Стили для заголовков разделов */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Добавим стили для формы обратной связи */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input[type="text"], textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Подключение UKIT3 из сети */
@import url('https://unpkg.com/ukit@3.0.0-beta/dist/css/ukit.min.css');


h1 {

    font-family: "BPG Arial Caps", sans-serif;
}

body {
    font-family: "BPG Arial", Arial, sans-serif; /* Замените на выбранный вами шрифт */
  
}


/* Сброс стандартных стилей */
/* ... */

/* Добавим стили для хедера и футера, чтобы они были видны на странице */
header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex; /* Используем flex-контейнер */
    align-items: center; /* Выравнивание элементов по вертикали */
}

/* Стили для кружка с фото */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Создание круглой формы */
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Небольшая тень для эффекта поднятия */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгонка фото внутри кружка */
    object-position: center; /* Центрирование фото в кружке */
}

/* Стили для текстовой информации */
.profile-text {
    margin-left: 20px; /* Добавляем отступ слева от фото */
}

.profile-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-text p {
    font-size: 16px;
}
