@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-04-caps/css/bpg-le-studio-04-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");

:root {
    --primary-color: #2F70AF;    /* ძირითადი ფერი 1 */
    --secondary-color: #00457E;  /* ძირითადი ფერი 2 */
    --accent-color: #806491;     /* აქცენტის ფერი 1 */
    --accent-color-1: #dfdfd3; 
    --text-color: #02315E;       /* Цвет текста */
    --background-color: #eee5e6; /* Цвет фона */
}
  

/* ბრაუზერის სტილების განულება */
body, h1, h2, h3, h4, h5, h6, p, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    font-family: Arial, sans-serif; /* ეს შრიფტი შეგიძლიათ შეცვალოთ სასურველი შრიფტით, მე ქვემოთ შევცვალე */
    font-size: 16px; /* შრიფტის საბაზო ზომა */
    line-height: 1.6; /* ხაზებშორის დაშორება */
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

/* ჰედერ-ფუტერის ფერებით გამორჩევა */
header, footer {
    background-color: var(--accent-color-1);
    padding: 20px;
}

/* ძირითადი განყოფილებების სტილები */
#goal, #education, #testimonials, #experience, #skills, #languages, #certificats, #recomendators, #projects  {
    padding: 40px;
}


/* სათაურების სტილები1 */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* ფორმის სტილები */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input[type="text"], textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Подключение UKIT3-ს ჩართვა ინტერნეტიდან, ეს არის ფრეივორკი, ბოტსრეპის მსგავსი, არანაკლები */
@import url('https://unpkg.com/ukit@3.0.0-beta/dist/css/ukit.min.css');


h1 {

    font-family: "BPG Arial Caps", sans-serif;
}

h2 {

    font-family: "BPG LE Studio 04 Caps", sans-serif;
}

h4 {

    font-family: "BPG Arial Caps", sans-serif;
}


body {
    font-family: "BPG Arial", Arial, sans-serif; /* მე ვავჯობინე ფრეივორკის დამატების შემდეგ შემეცვალა*/
  
}





header {
    background-color: var(--accent-color-1);
    padding: 20px;
    display: flex; /* header-ს ვაკეთებთ flex კონტეინერად */
    flex-direction: column;
    /* align-items: center; */
}
/* ფოტოს და ტექსტის სტილის კონტეინერი */


.profile-wrapper {
    display: flex; /* header-ს ვაკეთებთ flex კონტეინერად */
    justify-content: space-between; /* შვილებზე სივრცეს ვანაწილებთ ერნაირად */
}
/* ფოტოს რკალის სტილი */
.profile-pic {
    width: 200px; /* ფოტოს სიგანე  200px */
    height: 200px;
    border-radius: 50%; /* მრგვალი ფორმის შექმნა */
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* პატარა ჩრდილი ამობურცული ეფექტის შესაქმნელად */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ფოტოს რკალში ჩასმა */
    object-position: center; /* ფოტოს რკალში დაცენტრება */
}

/* ტექსტური კონტენტის სტილები */
.profile-text {
    margin-left: 50px; /* ფოტოს მარცხნივ არის დამატება */
}

.profile-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-text p {
    font-size: 16px;
}

.cv-title {
    display: flex; /* სივის სათაურსაც ვაკეთებთ ფლექს */
    align-items: center; /* ვაცენტრებთ ვერტიკალურად */
    justify-content: center; /* ტექსტს ვაცენტრებთ ჰორიზონტალურად */
    flex-grow: 1; /* კონტეინერში დარჩენილი ადგილი აითვისოს მთლიანად */
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    font-family: "BPG Banner Caps", sans-serif;
    color: var(--secondary-color);
}

nav li a:hover {
    color: var(--primary-color);
}

nav li a:visited {
    color: var(--accent-color);
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


.contact-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}